@import 'tailwindcss';

* {
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: 'PT Sans', system-ui, sans-serif;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



